@font-face{
    font-family: 'Dinkie9xcode';
    src: url('assest/font/DinkieBitmap-9pxCode.woff2')format('woff2');
    }
@font-face{
    font-family: 'Dinkie9xitalic';
    src: url('assest/font/DinkieBitmap-9pxItalic.woff2')format('woff2');
    }
@font-face{
    font-family: 'Dinkie7x';
    src: url('assest/font/DinkieBitmap-7px.woff2')format('woff2');
}
@font-face{
    font-family: 'Dinkie9x';
    src: url('assest/font/DinkieBitmap-9px.woff2')format('woff2');
    }
@font-face {
    font-family: 'Bely';
    src: url('assest/font/BelyDisplay-Regular.woff2.ttf')format('truetype');
}

/* 文本内容 */
body{
    background-color: #ffbea0;
}
.main{
    transform: scale(100vw,100vw);
}
.title{
    text-align: right;
}
#t1{
    font-family: "Dinkie9x";
    font-size: 7vw;
    position: absolute;
    right: 0;
    top: -2vw;
    margin: 0;
    color: white;

}
#t2{
    font-family: "Dinkie7x";
    font-size: 7vw;
    position: absolute;
    right: 0;
    top: 4vw;
    color: white;
}
#t3{
    font-family: "Dinkie7x";
    font-size: 10vw;
    position: absolute;
    right: 0;
    top: 28vw;
    color: white;
}
#t4{
    font-family: "Bely";
    font-size: 14.5vw;
    position: absolute;
    right: 0;
    top: 38vw;
    color: white;
}
.box{
    font-size: 2.7vw;
    font-family: "Dinkie7x";
    top: 3.3vw;
    left: 2vw;
    position: absolute;
}

a:link{ text-decoration-line: none; color: white;}
a:active{ text-decoration-line: none; color: #253900;}
a:hover{ text-decoration-line: none;color: rgb(16, 139, 104);}
a:visited{text-decoration-line: none;color: rgb(133, 149, 136);}

/* 图片内容 */
#gif{
    width: 30vw;
    position: absolute;
    top: 9vw;
    left: 35vw;
}

.pic2{
    width: 15vw;
}
#b1{
    position: absolute;
    left: 3%;
    top: 0;
    z-index: 1;
    
}
#b2{
    position: absolute;
    left: 9%;
    top: 12vw;
    z-index: 1;
}
#b3{
    position: absolute;
    left: 2%;
    top: 22vw;
    z-index: 1;
}
#b4{
    position: absolute;
    left: 7%;
    top: 35vw;
    z-index: 1;
}

/* 脸部动画 */
#brahover:hover{
    opacity: 100;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: all;
}
#brahover{
    width: 30vw;
    position: absolute;
    top: 9vw;
    left: 35vw;
    opacity: 0;
    z-index: 10;
    transition: all 0.4s ease 0s;
}
/* hover动画 */
#b1:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-23deg);
    transition-delay: 0s;
}
#b1{
    transition: all 0.4s ease 0s;
}
#b2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-23deg);
    transition-delay: 0s;
}
#b2{
    transition: all 0.4s ease 0s;
}
#b3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-23deg);
    transition-delay: 0s;
}
#b3{
    transition: all 0.4s ease 0s;
}
#b4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.8s;
    transition-property: all;
    transform: rotate(-23deg);
    transition-delay: 0s;
}
#b4{
    transition: all 0.4s ease 0s;
}
